<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body style="background-color: rgb(244, 237, 235);">
    <header style="font-size: 30px;">Form to get entry in Database</header>
    <section>
        <center><form action="/Welcome" method="post">
            <table>
                <tr>
                <td>
                    <tr>Name</tr> <br>
                   <input type="text" placeholder="Name" name="Name"> 
                    <br>
                    <tr>Contact</tr> <br>
                    <input type="text" placeholder="Contact" name="Contact">
                    <br>
                    <tr>Govt_id_Type</tr> <br>
                    <input type="text" placeholder="idType" name="Govt_id_Type">
                    <br>
                    <tr>Govt_id_Number</tr> <br>
                    <input type="text" placeholder="Govt_id_Number" name="Govt_id_Number">
                    <br>
                    <tr>Vaccine</tr> <br>
                    <input type="text" placeholder="Vaccine" name="Vaccine">
                    <br>
                    
                    
                </td>
            </tr>

                <br>
                <input type="submit">
            </table>
        </form></center>
    </section>
</body>

</html>